







/* body style */
body{
    color: #FFFFFF;
}
/* shered style */
.dark-3{
    color: #0702118c;
}
.red{
    color: #FF0000;
}
.black{
    color: black;
}


/* header section style */
.header{
    
    text-align: center;
    justify-content: center;
    background:url(../images/Banner\ Image.png);
    background-blend-mode:darken ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 233px 300px;
    margin: 50px 140px;
    border-radius: 16px;
   
    /* background: linear-gradient(to bottom,
    rgba(0,0,0,0.5)
    rgba(20, 19, 19, 0.2));
} */}


.banner-title{
    font-size: 32px;
    color: white;
    margin-bottom: 0px;
}
.banner-sub-title{
    font-size: 72px;
    color: white;
    margin-top: 17px;
}
/* catagori section style */
.catagori{
    text-align: center;
    justify-content: center;
    margin-bottom: 70px;
}
.catagori-title{
   color: red;
   font-size: 88px;
   font-weight: bold;
}
.catagori-sub-title{
    color: red;
    font-size: 24px;
    font-family: 500;
    margin-top: 8px;
}
.catagori-super-title{
    font-size: 48px;
    font-weight: bold;
    margin-top: 15px;
    color: black;
}
/* main section style */
.main{
    margin: 50px 140px;
}



/* party-banner-style */
.party-banner{
    background-image: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    /* padding: 200px 300px; */
    height: 650px;
    width: auto;
     border-radius: 16px;
   

}
.party-banner-title{
    font-size: 64px;
   
   
    
}
.party-banner-discription{
    font-size: 18px;
   padding: 0px;
   color: #FFFFFF;
   
}
.party-banner-content{
   display: flex;
   justify-content: center;
 align-items: center;
   

}
.party-button{
    font-size: 20px;
    font-weight: bold;
    text-align: left-bottom;
    padding: 48px 0px 0px 158px;
    
}
.banner-image{
    padding: 85px 138px 67px 0px;
}
.party-banner-content-2{
    padding: 126px 39px 142px 156px;
}

/* visit style */
          
.btn-primary{
    background-color: #FF0000;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    margin-top: 52px;
}
.visit-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 110px;
}



.visit{
     line-height:35px;
     background-image: linear-gradient(rgba(255, 0, 0, 0.144),white);
     padding: 110px auto 110px auto;
     margin-top: 166px;
     margin-bottom: 120px;
     border-radius: 16px;
}
.visit-title{
    font-size: 32px;
    font-weight:600;
    color: black;
   
    margin:10px;
}
/* best offer style */

.best-offer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
    margin-bottom: 110px;
}
.right-side-content-title{
    font-size: 24px;
    font-weight: 500;
}
.left-side-content-sub-title{
    font-size: 48px;
    font-weight:900;
}
.right-side-discription {
    font-size: 25px;
}
.left-side-title{
    font-size: 48px;
    font-weight: bold;
}
.best-offer-pic{
    padding: 37px;
    border: 10px solid red;
    border-radius: 50%;
}

/* discount section style */


.discount-content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-bottom:50px;
    text-align: center;
}
.discount-content-sub-title{
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
}
.discount-content-title{
    color: black;
    font-size: 72px;
    font-weight: 900;
    margin: 0px;
}

.background-image-dis{
    background-image: url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom ;
    background-size: contain;
   
}
.pic{
   
  position: relative;
 left:1000px;
bottom: 600px;

}
/* portfolio section style */
.portfolio{
    margin-bottom: 110px;
}



.portfolio-sub-title{
    font-size: 24px;
    font-weight: 500;
}
.portfolio-title{
    font-size: 48px;
    font-weight: 900;
}
.portfolio-discription{
    font-size: 20px;
}
.portfolio-image{
    display: flex;
    flex-wrap: wrap;
    gap:24px;
}
.portfolio-profile{
    width: 520px;
    height: 450px;
}
.portfolio-content{
    margin-bottom: 50px;
}

/* subcribe section style */
.subcribe{
    background-color:rgba(255, 0, 0, 0.144) ;
    border: none;
    border-radius: 16px;
}
.subcribe-content{
    padding: 100px 0px 0px 0px;
   

}
.massage-image{
    position:relative;
    left: 725px;


}

.email{
    align-items: center;
    text-align: center;
}
.subcribe-title{
    text-align: center;
}
.subcribe-discription{
    text-align: center;
}
.subcribe-form{
    display: flex;
    justify-content: center;
    padding-bottom: 110px;
    padding-top: 30px;
}
.subcribe-form form{
    background: #FFFFFF;
    width: 500px;
    height: 50px;
    display: flex;
    border-radius:30px;
}

form input{
    flex: 1;
    border: none;
    outline: none;
     border-radius:30px;
     padding-left: 20px;
}

form button{
    background: #FF0000;
    padding: 10px 40px;
    border: none;
    outline: none;
    color: #FFFFFF;
     border-radius:0px 30px 30px 0px;
}

   